page-event-detail {
    .answer-label {
        font-size: 14px;
    }
    .question {
        font-size: 16px;
    }
    .event-content {
        background-color: rgb(247,247,247);
    }
    .load-more {
        margin-top: 30px;
    }
    .stats {
        clear: both;
        .data {
            display: inline-block;
            margin-top: 8px;
        }
        .like-btn {
            float: right;
            // margin-top: -3px;
            // background-color: red;
            // text-align: right;
            color: black;
        }
    }
    .event-body {
        img {
            max-width: 100%;
        }
    }

    .rule-box {
        margin-bottom: 15px;

        .content {
            font-size: 16px;
            margin-top: 10px;
            color: rgb(58,58,58);
            border: 2px dashed rgb(201,201,201);
            padding: 10px;
        }
    }
}
