page-event-detail {
    .answer-label {
        font-size: 14px;
    }
    .question {
        font-size: 16px;
    }
    .event-content {
        background-color: rgb(247,247,247);
    }
    .load-more {
        margin-top: 30px;
    }
    .owner-nickname {
        font-size: 14px;
    }
    .stats {
        clear: both;
        .data {
            display: inline-block;
            margin-top: 8px;
        }
        .like-btn {
            float: right;
            // margin-top: -3px;
            // background-color: red;
            // text-align: right;
            color: black;
        }
    }
    .sent-stat {
        display: block;
        height: 20px;
        line-height: 20px;
        float: right;
        background-image: url('../../assets/images/icon_hb_event_detail.svg');
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        padding-left: 25px;
        font-weight: normal;
        font-size: 15px;
        color: rgb(123,125,129);
    }
    .event-body {
        // background-color: red;
        // margin: 0;
        // padding: 0;
        img {
            // display: block;
            // margin: 0 auto;
            max-width: 100%;
            // margin: 2px 0;
            margin: 0;
            padding: 0;
        }
        // p {
            // padding: 5px 0;
        // }
    }

    .rule-box {
        margin-bottom: 15px;

        .content {
            font-size: 16px;
            margin-top: 10px;
            color: rgb(58,58,58);
            border: 2px dashed rgb(201,201,201);
            padding: 10px;
        }
    }

    .share-tip-modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 10; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

        .modal-content {
            clear: both;
        }

        .arrow {
            width: 61.8%;
            float: right;
            // padding: 10px 15px;
            // clear: both;
            margin-top: 5px;
            margin-right: 25px;
            img {
                // float: right;
                // display: block;
                max-width: 100%;
                width: 100%;
            }
        }
        .share-tip {
            float: right;
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-size: 18px;
            color: white;
        }
    }
}