page-event-detail {
    .event-content {
        background-color: rgb(247,247,247);
    }
    .stats {
        clear: both;
        .data {
            display: inline-block;
            margin-top: 8px;
        }
        .like-btn {
            float: right;
            // margin-top: -3px;
            // background-color: red;
            // text-align: right;
            color: black;
        }
    }
    .event-body {
        img {
            max-width: 100%;
        }
    }
}
