<!--
  Generated template for the GrabWallPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content class="wall-modal">
  <div class="wall-content-container" ion-fixed>
    <div class="wall-content-table-cell">
      <div #wallContent id="wallContent" class="wall-content">
        <!--<ion-img [src]="imageUrl" class="image" (load)="imageLoaded()"></ion-img>-->
        <button class="close-button" (click)="dismiss(null)" *ngIf="!hasAds">
          <img src="assets/images/hbxq_btn_close.png" />
        </button>
        <button class="open-button" (click)="openHB()" *ngIf="!hasAds">
          <img src="assets/images/hbxq_btn_open.png" />
        </button>

        <button class="left-close-button" (click)="dismiss(null)" *ngIf="hasAds">
          <ion-icon name="ios-close-outline"></ion-icon>
        </button>
        <p class="counter-text" *ngIf="hasAds">{{counter}}秒后自动领红包！</p>
        <div class="spinner-container" *ngIf="hasAds && adLoaded === false">
          <ion-spinner item-left="" name="crescent" 
            class="spinner spinner-ios spinner-crescent spinner-ios-crescent">
            <svg viewBox="0 0 64 64" style="animation-duration: 750ms;">
              <circle transform="translate(32,32)" r="26"></circle>
            </svg>
          </ion-spinner>
        </div>

      </div>
    </div>
  </div>
  <!--<div #wallContent id="wallContent" class="wall-content" ion-fixed>
    <button ion-button icon-only clear (click)="dismiss()">
      <ion-icon name="ios-close-outline"></ion-icon>
    </button>
    <p class="counter-text">{{counter}}秒后自动领红包！</p>
    <div class="spinner-container" *ngIf="adLoaded === false">
      <ion-spinner item-left="" name="crescent" 
        class="spinner spinner-ios spinner-crescent spinner-ios-crescent">
        <svg viewBox="0 0 64 64" style="animation-duration: 750ms;">
          <circle transform="translate(32,32)" r="26"></circle>
        </svg>
      </ion-spinner>
    </div>
  </div>-->
</ion-content>
