<ion-header no-border>
  <ion-navbar>
    <ion-title>小优大惠</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-round-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="crescent" 
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- banner -->
  <div class="banners">
    <ion-slides *ngIf="bannersData.length > 0" loop="true" pager autoplay="3000">
      <ion-slide *ngFor="let banner of bannersData">
        <div class="banner-btn" (tap)="openBanner(banner)">
          <img [src]="banner.image">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <div class="empty-result" *ngIf="needShowEmptyResult">
    <p>一大波红包正在赶来...</p>
    <!--<p>或者</p>
    <p>您还可以自己去发布一个红包!</p>
    <button ion-button color="theme-red" (click)="gotoNewEvent()">去发布</button>-->
  </div>
  <!-- 最新活动 -->
  <div class="latest-events" *ngIf="hbData.length > 0">
    <ion-list>
      <button ion-item *ngFor="let hb of hbData"
          detail-none class="event" (click)="gotoDetail(hb)">
          <ion-thumbnail item-left class="cover">
            <img [src]="hb.image">
          </ion-thumbnail>
          <h2 class="title" text-wrap><div class="circle outline"><span>{{hb.rule_type === 'quiz' ? '题' : '签'}}</span></div> {{hb.title}}</h2>
          <p class="info">
              <span class="circle"><span>抢</span></span>
              <span class="moneys">{{ hb.min_value == hb.max_value ? 
                   hb.min_value :
                   hb.min_value + '-' + hb.max_value
                }} 元
              </span>
          </p>
          <p class="address"><ion-icon name="ios-time-outline"></ion-icon>
           <span>{{hb.grab_time ? hb.grab_time + ' 开抢' : '抢红包进行中'}}</span></p>
          <ion-note item-right *ngIf="hb.left_money > 0.0">
            <div class="money">
              <span class="money-symbol">¥</span>{{hb.left_money}}
            </div>
          </ion-note>
          <div class="no-money" [hidden]="hb.left_money > 0.0">已抢完</div>
      </button>
    </ion-list>
  </div>
</ion-content>
