.ios, .md {
    page-home {
        .scroll {
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        ion-card {
            // max-height: 60px;
            // overflow: scroll;
            position: absolute;
            z-index: 1;
        }
        .pin {
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 1;
            height: 50px;
            width: 50px;
            text-align:center;
            line-height: 58px;
            top: calc(50% - 25px);
            left:calc(50% - 25px);
            font-size: 3rem;
            color: $theme-red;//rgb(52,121,252);
        }

        .locate-button {
            width: 40px;
            height: 40px;
            line-height: 45px;
            cursor: pointer;
            position: absolute;
            z-index: 1;
            right: 15px;
            bottom: 20px;
            background-color: rgba(247,247,247,1.0);
            font-size: 2.2rem;
            text-align: center;
            // border: 1px solid rgb(241,241,241);
            border-radius: 2px;
            -webkit-border-radius: 2px;
            color: rgb(83,83,83);
        }
        .hb-marker {
            width: 36px;
            height: 48px;
            background-color: red;
            position: absolute;
            cursor: pointer;
        }
        // .map-container {
        //     margin: 0;
        //     padding: 0;
        //     position: relative;
        //     width: 100%;
        //     height: 100%;
        // }

        // .hb-marker {
        //     // border-radius: 2px;
        //     // -webkit-border-radius: 2px;
        //     img {
        //         width: 18px;
        //         height: 18px;
        //         margin: 0 auto;
        //         display: block;
        //         margin-top: 6px;
        //         border: 1px solid rgb(252,208,11);
        //         border-radius: 10px;
        //         -webkit-border-radius: 10px;
        //     }
        //     p {
        //         margin: 0;
        //         padding: 0;
        //         margin-top: 6px;
        //         color: rgb(252,208,11);
        //         font-size: 10px;
        //         text-align: center;
        //     }
        // }

        // .scroll {
        //     height: 100%;
        // }

        // #map {
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     width: 100%;
        //     height: 100%;
        // }

        // .map-ding {
        //     position: absolute;
        //     left: 50%;
        //     top: 50%;
        //     z-index:1000;
        //     text-align: center;
        //     width: 180px;
        //     height: 50px;
        //     margin-top: -25px;
        //     margin-left: -90px;
        //     // border: 1px soild black;
        // }

        // .arrow_box {
        //     position: relative;
        //     width: 100%;
        //     height: 50px;
        //     background: rgba(254, 254, 254,1.0);
        //     border-radius: 25px;
        //     clear: both;
        //     .left-box {
        //         float:left;
        //         width: 35%;
        //         height: 50px;
        //         // line-height: 50px;
        //         text-align: center;
        //         .loading {
        //             // background-color: red;
        //             // height: 20px;
        //             margin-top: 12px;
        //             margin-left: 3px;
        //         }
        //         .hb-result {
        //             // border-right: 1px solid rgb(242,241,239);
        //             width: 100%;
        //             height: 50px;
        //             margin: 0;
        //             padding: 0;
        //             padding-left: 3px;
        //             .quantity {
        //                 margin-top: 6px;
        //                 font-size: 10px;
        //                 color: rgb(58,58,58);
        //                 .digit {
        //                     font-size: 18px;
        //                     color: $theme-red;
        //                 }
        //             }

        //             .label {
        //                 font-size: 10px;
        //                 color: rgb(58,58,58);
        //             }
        //         }
        //     }
        //     .right-box {
        //         float: right;
        //         width: 65%;
        //         height: 50px;
        //         line-height: 50px;
        //         text-align:left;
        //         .message {
        //             color: rgb(58,58,58);
        //             padding-left: 15px;
        //             border-left: 1px solid rgb(245, 247, 249);
        //         }
        //     }
        // }
        // .arrow_box:after {
        //     top: 100%;
        //     left: 50%;
        //     border: solid transparent;
        //     content: " ";
        //     height: 0;
        //     width: 0;
        //     position: absolute;
        //     pointer-events: none;
        //     border-color: rgba(136, 183, 213, 0);
        //     border-top-color: rgba(254, 254, 254, 1.0);
        //     border-width: 10px;
        //     margin-left: -10px;
        // }

        // .map-location {
        //     position: absolute;
        //     left: 5px;
        //     bottom: 30px;
        //     z-index: 1000;
        // }
    }
}
