<ion-header no-border>
  <ion-navbar>
    <ion-title>小优大惠</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-round-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="crescent" 
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- banner -->
  <div class="banners">
    <ion-slides *ngIf="bannersData.length > 0" (ionSlideDidChange)="slideDidChange()" pager loop="true" autoplay="3000">
      <ion-slide *ngFor="let banner of bannersData">
        <div class="banner-btn" (tap)="openBanner(banner)">
          <img [src]="banner.image">
        </div>
      </ion-slide>
    </ion-slides>
  </div>

  <!-- 最新活动 -->
  <div class="latest-events">
    <ion-list>
      <button ion-item *ngFor="let event of eventsData"
          detail-none class="event" (click)="gotoDetail(event)">
          <ion-thumbnail item-left class="cover">
            <img [src]="event.image">
          </ion-thumbnail>
          <h2 class="title" text-wrap><div class="circle outline"><span>{{event.rule_type === 'QuizRule' ? '题' : '签'}}</span></div> {{event.title}}</h2>
          <p class="info">
              <span class="circle"><span>抢</span></span>
              <span class="moneys">{{ event.hb.min_value == event.hb.max_value ? 
                   event.hb.min_value :
                   event.hb.min_value + '-' + event.hb.max_value
                }} 元
              </span>
          </p>
          <p class="address"><ion-icon name="ios-time-outline"></ion-icon>
           <span>{{event.grab_time ? event.grab_time + ' 开抢' : '抢红包进行中'}}</span></p>
          <ion-note item-right *ngIf="event.hb.left_money > 0.0">
            <div class="money">
              <span class="money-symbol">¥</span>{{event.hb.left_money}}
            </div>
          </ion-note>
          <div class="no-money" [hidden]="event.hb.left_money > 0.0">已抢完</div>
      </button>
    </ion-list>
  </div>
</ion-content>
