.ios, .md {
    page-home {
        .scroll {
            height: 100%;
        }

        #map {
            width: 100%;
            height: 100%;
        }
        .map-error-container {
            width: 100%;
            height: 100%;
        }
        ion-card {
            // max-height: 60px;
            // overflow: scroll;
            position: absolute;
            z-index: 1;
        }
        .pin {
            margin: 0;
            padding: 0;
            position: absolute;
            z-index: 1;
            height: 50px;
            width: 50px;
            text-align:center;
            // line-height: 58px;
            top: calc(50% - 25px);
            left:calc(50% - 25px);
            font-size: 3rem;
            // background-color: red;
            .dot {
                width: 12px;
                height: 12px;
                margin: 0 auto;
                margin-top: 19px;
                background-color: color($colors, theme-red);
                border-radius: 6px;
                box-shadow: 0 0 6px rgba(187,64,42, 0.8);
                -moz-box-shadow: 0 0 6px rgba(187,64,42, 0.8);
            }
            // color: $theme-red;//rgb(52,121,252);
        }

        .locate-button {
            width: 50px;
            height: 50px;
            line-height: 54px;
            // line-height: 45px;
            cursor: pointer;
            position: absolute;
            z-index: 1;
            right: 15px;
            bottom: 15px;
            background-color: white;//rgba(247,247,247,1.0);
            font-size: 2.2rem;
            text-align: center;
            // border: 1px solid rgb(241,241,241);
            border-radius: 25px;
            -webkit-border-radius: 25px;
            box-shadow: 0 0 5px rgba(58,58,58,0.8);
            -moz-box-shadow: 0 0 5px rgba(58,58,58,0.8);
            color: rgb(121,121,121);
        }
        .hb-marker {
            width: 33px;
            // height: 48px;
            // background-color: red;
            height: 44px;
            display: block;
            position: absolute;
            cursor: pointer;
            background: transparent url('../../assets/images/map_img_hb.png') no-repeat center center;
            background-size: contain;
            .left-money {
                color: color($colors, golden);
                // position: absolute;
                font-size: 0.6rem;
                margin: 0;
                padding: 0;
                margin-top: 28px;
                height: 20px;
                // line-height: 20px;
                text-align: center;
                width: 100%;
            } 

            .user {
                width: 48px;
                height: 48px;
                margin: 0 auto;
                position: relative;
                img {
                    width: 48px;
                    height: 48px;
                    display: block;
                    background-color: rgb(241, 241, 241);
                    border-radius: 24px;
                    border: 2px solid $theme-red;
                }
                .level {
                    position: absolute;
                    z-index: 1;
                    right: -5px;
                    bottom: 4px;
                    width: 20px;
                    height: 20px;
                    // background-color: red;
                    display:block;
                    // background: url('../../assets/images/icon_1.png') no-repeat center center;
                    // background: url('../../assets/images/icon_ding.png') no-repeat left top;
                }
                .level-1 {
                    background: url('../../assets/images/icon_1.png') no-repeat center center;
                }
                .level-2 {
                    background: url('../../assets/images/icon_2.png') no-repeat center center;
                }
            }
            .digit {
                // float: right;
                height: 20px;
                line-height: 20px;
                text-align:center;
                margin: 0;
                width: 40px;
                // background-color: red;
                margin-top: 5px;
                color: $theme-red;
                font-size: 1.2rem;
            }
        }
        .result {
            height: 25px;
            line-height: 25px;
            // text-align: center;
            .message {
                // background-color:red;
                color: rgb(83,83,83);
                display: block;
                height: 25px;
                line-height: 25px;
                // margin-top: 3px;
            }
            .no-result {
                margin-top: 3px;
            }
            .hb-count {
                color: $theme-red;
                font-size: 2rem;
                padding: 5px;
            }
        }
        .loading-container {
            height: 25px;
            // line-height: 30px;
            // background-color: red;
            clear: both;
            ion-spinner {
                float: left;
                margin: 0;
            }
            .loading-text {
                display: block;
                height: 25px;
                line-height: 25px;
                float: left;
                padding-left: 10px;
                margin-left: 10px;
                margin-top: 2px;
                border-left: 1px solid rgba(245,245,245,1.0);
                color: rgb(83,83,83);
            }
        }

    }
}
