// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$theme-red: rgb(187,64,42); // FF5552

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  light-gray: #b7b7b7,
  theme-red:  rgb(187,64,42),
  golden:     rgb(228,196,129),
  white:    white,
);

// 解决ios模式下面的android显示border隐藏的问题
// $hairlines-width: 0.6px;
// $list-border-color: #e0dfe4;

// 自定义TabBar的选中颜色
$tabs-tab-color-active: $theme-red;

// 自定义导航条的背景颜色
$toolbar-background: $theme-red;

$refresher-icon-color: $theme-red;
$refresher-text-color: $theme-red;
$refresher-border-color: transparent;

$radio-ios-color-on: $theme-red;

$loading-ios-max-width: 268px;
$loading-ios-max-height: 88px;
$loading-ios-background: white;
$loading-ios-spinner-color: $theme-red;
$loading-ios-text-color: $theme-red;

$searchbar-ios-input-text-color: white;
$searchbar-ios-input-placeholder-color: $searchbar-ios-input-text-color;
$searchbar-ios-input-search-icon-color: $searchbar-ios-input-text-color;
$searchbar-ios-input-clear-icon-color: $searchbar-ios-input-text-color;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
