page-card {
    .card-background-page {
        ion-card {
            position: relative;   
            border-radius: 0;
            box-shadow: none;
            -webkit-box-shadow: none;
        }

        .card-expire {
            position: absolute;
            font-size: 1em;
            bottom: 6.5%;
            right: 4.8%;
            color: rgb(58,58,58);
        }
    }
}
