<!--
  Generated template for the NewRedbagPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar>
    <ion-title>发红包</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card>
    <!-- <ion-card-header>
      广告红包（必填）
    </ion-card-header> -->
    <ion-list>
      <ion-item>
        <ion-label>红包类型</ion-label>
        <ion-select [(ngModel)]="hb.type" interface='popover'>
          <ion-option value="0">随机金额</ion-option>
          <ion-option value="1">固定金额</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="hb.type === '0'">
        <ion-label fixed>总金额</ion-label>
        <ion-input [(ngModel)]="hb.total_money" type="number" placeholder="输入金额"></ion-input>
        <ion-note item-right>元</ion-note>
      </ion-item>
      <ion-item *ngIf="hb.type === '0'">
        <ion-label fixed>最小金额</ion-label>
        <ion-input [(ngModel)]="hb.min_value" type="number" placeholder="输入金额"></ion-input>
        <ion-note item-right>元</ion-note>
      </ion-item>
      <ion-item *ngIf="hb.type === '0'">
        <ion-label fixed>最大金额</ion-label>
        <ion-input [(ngModel)]="hb.max_value" type="number" placeholder="输入金额"></ion-input>
        <ion-note item-right>元</ion-note>
      </ion-item>
      <ion-item *ngIf="hb.type === '1'">
        <ion-label fixed>红包个数</ion-label>
        <ion-input [(ngModel)]="hb.total" type="number" placeholder="输入个数"></ion-input>
        <ion-note item-right>个</ion-note>
      </ion-item>
      <ion-item *ngIf="hb.type === '1'">
        <ion-label fixed>单个金额</ion-label>
        <ion-input [(ngModel)]="hb.value" type="number" placeholder="输入金额"></ion-input>
        <ion-note item-right>元</ion-note>
      </ion-item>

      <ion-item>
        <ion-label fixed>红包主题</ion-label>
        <ion-input [(ngModel)]="hb.title" type="text" placeholder="恭喜发财，大吉大利"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item>
        红包总金额：
        <ion-note item-right color="theme-red">{{ calcuTotalMoney() }}</ion-note>
      </ion-item>
      <ion-item>
        参与人数约：
        <ion-note item-right color="theme-red">{{ calcuTotal() }}</ion-note>
      </ion-item>
    </ion-list>

  </ion-card>

  <div padding>
    <button ion-button block color="theme-red" (click)="commit()">提交</button>
  </div>
</ion-content>
