page-explore {
    .money-symbol {
        font-size: 12px;
        padding-right: 5px;
    }
    .circle {
        display: block;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 8px;
        // line-height: 16px;
        text-align: center;
        background-color: color($colors, theme-red);
        color: white;
        font-size: 8px;
    }

    .outline {
        background-color: transparent;
        border: 1px solid color($colors, theme-red);
        color: color($colors, theme-red);
    }

    .event {
        .info {
            margin-top: 6px;
            margin-bottom: 6px;
            // background-color: red;
            // line-height: 100%;
        }
        .rule-type {
            display: inline-block;
            margin: 0;
            padding: 0;
            // margin-top: -2px;
            font-size: 8px;
            // padding: 3px;
            width: 16px;
            height: 16px;
            line-height: 14px;
            // padding: 6px;
            border-radius: 8px;
            text-align: center;
            background-color: transparent;
            border: 1px solid color($colors, theme-red);
            color: color($colors, theme-red);
        }
        .hb-earn {
            display: inline-block;
            margin-left: 5px;
            // padding: 0;
            // margin: 0;
            // margin-top: 2px;
            font-size: 12px;
            border-radius: 2px;
            padding-right: 5px;
            border: 1px solid color($colors, theme-red);
            color: color($colors, theme-red);
            .grab {
                background-color: color($colors, theme-red);
                padding: 2px 6px;
                color: white;
            }
            .moneys {
                padding-left: 2px;
            }
        }
    }

    .events-1 {
        // padding: 10px;
        // padding-top: 10px;
        // ion-list {
        //     padding: 0 10px;
        //     // border: 0;
        // }
        // ion-item {
        //     border-radius: 6px;
        //     background-color: white;
        //     margin-bottom: 10px;
        //     padding: 0!important;
        //     padding-left: 10px!important;
        // }
        .item-inner {
            padding-right: 0px!important;
        //     padding-left: 5px!important;
        }
        .event {
            border-radius: 6px;
            background-color: white;
            margin-bottom: 10px;
            padding: 0!important;
            padding-left: 10px!important;
            
            ion-note {
                color: color($colors, theme-red);
                font-size: 16px;
            }
            .title {
                font-size: 14px;
                color: rgb(58,58,58);
            }
            .alert {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                line-height: 16px;
                text-align: center;
                font-size: 8px;
                color: white;
                background-color: color($colors, theme-red);
            }
        }
    }
    .hb-quantity {
        text-align:right;
        color: color($colors, golden);
        clear: right;
        img {
            float: right;
            max-width: 18px;
            display: block;
        }
        h2 {
            // float: right;
            margin: 0;
            padding: 0;
            margin-right: 25px;
            padding-top: 4px;
            color: color($colors, golden);
        }
    }
}
