page-explore {
    .events-1 {
        // padding: 10px;
        // padding-top: 10px;
        // ion-list {
        //     padding: 0 10px;
        //     // border: 0;
        // }
        // ion-item {
        //     border-radius: 6px;
        //     background-color: white;
        //     margin-bottom: 10px;
        //     padding: 0!important;
        //     padding-left: 10px!important;
        // }
        .item-inner {
            padding-right: 0px!important;
        //     padding-left: 5px!important;
        }
        .event {
            border-radius: 6px;
            background-color: white;
            margin-bottom: 10px;
            padding: 0!important;
            padding-left: 10px!important;
            
            ion-note {
                color: color($colors, theme-red);
                font-size: 16px;
            }
            .title {
                font-size: 14px;
                color: rgb(58,58,58);
            }
            .alert {
                display: inline-block;
                width: 16px;
                height: 16px;
                border-radius: 8px;
                line-height: 16px;
                text-align: center;
                font-size: 8px;
                color: white;
                background-color: color($colors, theme-red);
            }
        }
    }
    .hb-quantity {
        text-align:right;
        color: color($colors, golden);
        clear: right;
        img {
            float: right;
            max-width: 18px;
            display: block;
        }
        h2 {
            // float: right;
            margin: 0;
            padding: 0;
            margin-right: 25px;
            padding-top: 4px;
            color: color($colors, golden);
        }
    }
}
