<!--
  Generated template for the TaskPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
  <ion-navbar>
    <ion-title>任务</ion-title>
  </ion-navbar>
  
  <ion-toolbar color="light" mode="md">
    <ion-segment color="theme-red" [(ngModel)]="tabs" mode="md">
        <ion-segment-button (click)="selectTab(0)" value="0">联盟任务</ion-segment-button>
        <ion-segment-button (click)="selectTab(1)" value="1">小优任务</ion-segment-button>
        <div id="slide" class="slide"></div>
    </ion-segment>      
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-slides #pageSlider (ionSlideWillChange)="changeWillSlide($event)">
    <ion-slide>
      <div class="empty-result" *ngIf="needShowEmptyResult">
        <p>{{errorOrEmptyMessage}}</p>
      </div>
      <div class="channels">
          <ion-card *ngFor="let chn of chnList">
            <!-- <ion-list> -->
              <button ion-item (click)="gotoChannel(chn)">
                <ion-thumbnail item-start>
                  <img [src]="chn.icon">
                </ion-thumbnail>
                <h2 text-wrap>{{chn.name}}</h2>
                <p class="grab-money">{{chn.earn_desc}}</p>
              </button>
            <!-- </ion-list> -->
          </ion-card>
      </div>    
    </ion-slide>
    <ion-slide>
      <div class="empty-result" *ngIf="needShowEmptyResult">
        <p>{{errorOrEmptyMessage}}</p>
      </div>
      <div class="hb-list">
        <ion-card *ngFor="let hb of hbList">
          <!-- <ion-list> -->
            <button ion-item (click)="gotoHBDetail(hb)">
              <ion-thumbnail item-start>
                <img [src]="hb.image">
              </ion-thumbnail>
              <h2 text-wrap>{{hb.title}}</h2>
              <p class="grab-money"><span class="symbol">¥</span> {{ hb.min_value == hb.max_value ? 
                  hb.min_value : 
                  hb.min_value + '-' + hb.max_value }} <span class="grab-state" *ngIf="hb.grabed === true">已抢</span></p>
              <ion-note item-right class="left-money"><span class="symbol">¥</span> <span class="money2">{{hb.left_money}}</span></ion-note>
            </button>
          <!-- </ion-list> -->
        </ion-card>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)" [enabled]="hasMore">
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="正在加载...">
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>

    </ion-slide>
  </ion-slides>
  <!-- <iframe id="iframe" class="iframe"
    sandbox="allow-scripts allow-top-navigation allow-pointer-lock allow-same-origin allow-popups allow-forms"
    [src]="browser.secUrl"
    (load)="loaded()">

  </iframe> -->
  
</ion-content>
