page-task {
    .grab-money {
        color: color($colors, theme-red);
        font-family: 'PingFang SC';
        font-size: 12px;
    }

    .symbol {
        font-size: 12px;
    }

    .left-money {
        color: color($colors, theme-red);
        .money2 {
            font-family: 'PingFang SC';
        }
        font-size: 18px;
    }

    .grab-state {
        background-color: color($colors, theme-red);
        color: white;
        font-size: 8px;
        display: inline-block;
        padding: 2px 3px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
    }
}
