<ion-header no-border>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button clear>
        {{currentPositionDesc}}
      </button>
    </ion-buttons>
    <ion-title>
      附近红包
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh();">
        <ion-icon name="ios-refresh-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="content">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="ios-arrow-round-down-outline"
      pullingText="下拉刷新"
      refreshingSpinner="crescent" 
      refreshingText="加载中...">
    </ion-refresher-content>
  </ion-refresher> -->

  <!-- banner -->
  
  <div class="empty-result" *ngIf="needShowEmptyResult">
    <p>{{errorOrEmptyMessage}}</p>
  </div>
  <!-- 最新活动 -->
  <div class="latest-events" *ngIf="hbData.length > 0">
    <ion-card *ngFor="let hb of hbData" class="redbag" tappable (click)="gotoDetail(hb)">
      <span class="bar locate"><!-- ion-icon class="pin-icon" name="ios-pin-outline"></ion-icon --> {{calcuDistance(hb.distance)}}</span>
      <div class="tool-mark">
        <p class="share-hb bar" *ngIf="hb.has_shb === true">有分享红包</p>
        <p class="grabed bar" *ngIf="hb.grabed === true">已抢</p>
      </div>
      <img [src]="hb.cover_image" />
      <ion-card-content>
        <ion-card-title>
          <div class="earn">
            <span class="left-money"><span class="symbol">¥</span> <span class="money2">{{hb.left_money}}</span></span><br>
            <span class="hb-size hb-bg-{{hb.rule_type}}">{{ hb.min_value == hb.max_value ? 
                  hb.min_value : 
                  hb.min_value + '-' + hb.max_value }} 元</span>
          </div>
          <div class="title">{{hb.title}}</div>
        </ion-card-title>
      </ion-card-content>
    </ion-card>
    <!-- <div class="no-more-data" *ngIf="!needShowEmptyResult">没有更多内容了~</div> -->
  </div>
</ion-content>
