page-my-events {
    .event {
        .money {
            color: rgb(108,108,108);
            .label {
                font-size: 10px;
                .digit {
                    font-size: 18px;
                    padding: 0 5px;
                    color: color($colors, theme-red);
                }
            }
        }

        .state-name {
            // background-color: red;
            padding: 2px 3px;
            border-radius: 2px;
            // border: 1px solid #b7b7b7;
            font-size: 10px;
            color: white;

            &.closed {
                background-color: color($colors, theme-red);
            }

            &.opened {
                background-color: rgb(84,174,59);
            }
        }
    }

    .my-events-empty {
        padding-left: 30px;
        padding-right: 30px;
    }
}
